openapi: 3.0.3
info:
  title: PortOne API
  version: 1.16.0
servers:
  - url: 'https://api.portone.io'
    description: 운영환경 서버
paths:
  /b2b/companies/business-info:
    post:
      summary: 사업자등록 정보조회
      description: |-
        사업자등록 정보조회

        요청된 사업자등록번호 리스트에 해당하는 사업자등록 정보를 조회합니다.
        해당 API 사용을 위해서는 별도 문의가 필요합니다.
      operationId: getB2bBusinessInfos
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetB2bBusinessInfosBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 사업자등록 정보조회 결과 리스트를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosResponse'
          x-portone-description: 성공 응답으로 사업자등록 정보조회 결과 리스트를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '403':
          description: |-
            * `B2bNotEnabledError`: B2B 기능이 활성화되지 않은 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
        '502':
          description: '* `B2bExternalServiceError`: 외부 서비스에서 에러가 발생한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetB2bBusinessInfosError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.company
      x-portone-title: 사업자등록 정보조회
      x-portone-description: |-
        요청된 사업자등록번호 리스트에 해당하는 사업자등록 정보를 조회합니다.
        해당 API 사용을 위해서는 별도 문의가 필요합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetB2bBusinessInfosError'
  /banks:
    get:
      summary: 은행 정보 조회
      description: |-
        은행 정보 조회

        은행의 이름 등 정보를 조회합니다. 사용자에게 한국어 명칭을 제공하는 등의 용도로 사용하실 수 있습니다.
      operationId: getBankInfos
      responses:
        '200':
          description: 성공 응답으로 조회된 은행 정보 리스트가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankInfosResponse'
          x-portone-title: 성공 응답으로 조회된 은행 정보 리스트가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankInfosError'
      x-portone-category: common
      x-portone-title: 은행 정보 조회
      x-portone-description: 은행의 이름 등 정보를 조회합니다. 사용자에게 한국어 명칭을 제공하는 등의 용도로 사용하실 수 있습니다.
      x-portone-error:
        $ref: '#/components/schemas/GetBankInfosError'
  /billing-keys:
    get:
      summary: 빌링키 다건 조회
      description: |-
        빌링키 다건 조회

        주어진 조건에 맞는 빌링키들을 페이지 기반으로 조회합니다.
      operationId: getBillingKeyInfos
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBillingKeyInfosBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 빌링키 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosResponse'
          x-portone-title: 성공 응답으로 조회된 빌링키 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfosError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 다건 조회
      x-portone-description: 주어진 조건에 맞는 빌링키들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetBillingKeyInfosError'
    post:
      summary: 빌링키 발급
      description: |-
        빌링키 발급

        빌링키 발급을 요청합니다.
      operationId: issueBillingKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueBillingKeyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
        '502':
          description: |-
            * `PgProviderError`: PG사에서 오류를 전달한 경우
            * `ChannelSpecificError`: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueBillingKeyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 발급
      x-portone-description: 빌링키 발급을 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueBillingKeyError'
  '/billing-keys/{billingKey}':
    get:
      summary: 빌링키 단건 조회
      description: |-
        빌링키 단건 조회

        주어진 빌링키에 대응되는 빌링키 정보를 조회합니다.
      operationId: getBillingKeyInfo
      parameters:
        - name: billingKey
          in: path
          description: 조회할 빌링키
          required: true
          schema:
            type: string
          x-portone-title: 조회할 빌링키
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답으로 빌링키 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingKeyInfo'
          x-portone-description: 성공 응답으로 빌링키 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingKeyInfoError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 단건 조회
      x-portone-description: 주어진 빌링키에 대응되는 빌링키 정보를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetBillingKeyInfoError'
    delete:
      summary: 빌링키 삭제
      description: |-
        빌링키 삭제

        빌링키를 삭제합니다.
      operationId: deleteBillingKey
      parameters:
        - name: billingKey
          in: path
          description: 삭제할 빌링키
          required: true
          schema:
            type: string
          x-portone-title: 삭제할 빌링키
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
        - name: reason
          in: query
          description: |-
            사유

            네이버페이: 자동결제 해지 사유입니다. 명시가 필요합니다.
          required: false
          schema:
            type: string
          x-portone-title: 사유
          x-portone-description: '네이버페이: 자동결제 해지 사유입니다. 명시가 필요합니다.'
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '404':
          description: |-
            * `BillingKeyNotIssuedError`
            * `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '409':
          description: |-
            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우
            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
        '502':
          description: |-
            * `PgProviderError`: PG사에서 오류를 전달한 경우
            * `ChannelSpecificError`: 여러 채널을 지정한 요청에서, 채널 각각에서 오류가 발생한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingKeyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.billingKey
      x-portone-title: 빌링키 삭제
      x-portone-description: 빌링키를 삭제합니다.
      x-portone-error:
        $ref: '#/components/schemas/DeleteBillingKeyError'
  /cash-receipts:
    get:
      summary: 현금영수증 다건 조회
      description: |-
        현금영수증 다건 조회

        주어진 조건에 맞는 현금영수증들을 페이지 기반으로 조회합니다.
      operationId: getCashReceipts
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCashReceiptsBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 현금영수증 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsResponse'
          x-portone-title: 성공 응답으로 조회된 현금영수증 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금영수증 다건 조회
      x-portone-description: 주어진 조건에 맞는 현금영수증들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetCashReceiptsError'
    post:
      summary: 현금 영수증 수동 발급
      description: |-
        현금 영수증 수동 발급

        현금 영수증 발급을 요청합니다.
      operationId: issueCashReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueCashReceiptBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '409':
          description: '* `CashReceiptAlreadyIssuedError`: 현금영수증이 이미 발급된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueCashReceiptError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 수동 발급
      x-portone-description: 현금 영수증 발급을 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/IssueCashReceiptError'
  '/identity-verifications/{identityVerificationId}/confirm':
    post:
      summary: 본인인증 확인
      description: |-
        본인인증 확인

        요청된 본인인증에 대한 확인을 진행합니다.
      operationId: confirmIdentityVerification
      parameters:
        - name: identityVerificationId
          in: path
          description: 본인인증 아이디
          required: true
          schema:
            type: string
          x-portone-title: 본인인증 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmIdentityVerificationBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
        '404':
          description: |-
            * `IdentityVerificationNotFoundError`: 요청된 본인인증 건이 존재하지 않는 경우
            * `IdentityVerificationNotSentError`: 본인인증 건이 API로 요청된 상태가 아닌 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
        '409':
          description: >-
            * `IdentityVerificationAlreadyVerifiedError`: 본인인증 건이 이미 인증 완료된 상태인
            경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIdentityVerificationError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: identityVerification
      x-portone-title: 본인인증 확인
      x-portone-description: 요청된 본인인증에 대한 확인을 진행합니다.
      x-portone-error:
        $ref: '#/components/schemas/ConfirmIdentityVerificationError'
  '/identity-verifications/{identityVerificationId}/resend':
    post:
      summary: SMS 본인인증 요청 재전송
      description: |-
        SMS 본인인증 요청 재전송

        SMS 본인인증 요청을 재전송합니다.
      operationId: resendIdentityVerification
      parameters:
        - name: identityVerificationId
          in: path
          description: 본인인증 아이디
          required: true
          schema:
            type: string
          x-portone-title: 본인인증 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
        '404':
          description: |-
            * `IdentityVerificationNotFoundError`: 요청된 본인인증 건이 존재하지 않는 경우
            * `IdentityVerificationNotSentError`: 본인인증 건이 API로 요청된 상태가 아닌 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
        '409':
          description: >-
            * `IdentityVerificationAlreadyVerifiedError`: 본인인증 건이 이미 인증 완료된 상태인
            경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendIdentityVerificationError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: identityVerification
      x-portone-title: SMS 본인인증 요청 재전송
      x-portone-description: SMS 본인인증 요청을 재전송합니다.
      x-portone-error:
        $ref: '#/components/schemas/ResendIdentityVerificationError'
  '/identity-verifications/{identityVerificationId}/send':
    post:
      summary: 본인인증 요청 전송
      description: |-
        본인인증 요청 전송

        SMS 또는 APP 방식을 이용하여 본인인증 요청을 전송합니다.
      operationId: sendIdentityVerification
      parameters:
        - name: identityVerificationId
          in: path
          description: 본인인증 아이디
          required: true
          schema:
            type: string
          x-portone-title: 본인인증 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendIdentityVerificationBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationResponse'
          x-portone-title: 성공 응답
        '400':
          description: |-
            * `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우
            * `MaxTransactionCountReachedError`: 결제 혹은 본인인증 시도 횟수가 최대에 도달한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
        '404':
          description: |-
            * `IdentityVerificationNotFoundError`: 요청된 본인인증 건이 존재하지 않는 경우
            * `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
        '409':
          description: >-
            * `IdentityVerificationAlreadyVerifiedError`: 본인인증 건이 이미 인증 완료된 상태인
            경우

            * `IdentityVerificationAlreadySentError`: 본인인증 건이 이미 API로 요청된 상태인 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendIdentityVerificationError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: identityVerification
      x-portone-title: 본인인증 요청 전송
      x-portone-description: SMS 또는 APP 방식을 이용하여 본인인증 요청을 전송합니다.
      x-portone-error:
        $ref: '#/components/schemas/SendIdentityVerificationError'
  '/identity-verifications/{identityVerificationId}':
    get:
      summary: 본인인증 단건 조회
      description: |-
        본인인증 단건 조회

        주어진 아이디에 대응되는 본인인증 내역을 조회합니다.
      operationId: getIdentityVerification
      parameters:
        - name: identityVerificationId
          in: path
          description: 조회할 본인인증 아이디
          required: true
          schema:
            type: string
          example: your-identity-verification-id
          x-portone-title: 조회할 본인인증 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          example: your-store-id
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답으로 본인 인증 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerification'
              example:
                status: VERIFIED
                id: your-identity-verification-id
                channel:
                  type: LIVE
                  id: your-channel-id
                  key: your-channel-key
                  name: your-channel-name
                  pgProvider: DANAL
                  pgMerchantId: your-pg-merchant-id
                verifiedCustomer:
                  id: your-customer-id
                  name: customer-name
                  operator: KT_MVNO
                  phoneNumber: 01012345678
                  birthDate: '1992-10-16'
                  gender: FEMALE
                  isForeigner: false
                  ci: ci-value
                  di: di-value
                customData: your-custom-data-string
                requestedAt: '2023-10-15T23:59:59Z'
                updatedAt: '2023-10-16T00:00:00Z'
                statusChangedAt: '2023-10-16T00:00:00Z'
                verifiedAt: '2023-10-16T00:00:00Z'
                pgTxId: transaction-id-from-pg-provider
                pgRawResponse: '{ .. raw response from pg provider .. }'
                version: V2
          x-portone-description: 성공 응답으로 본인 인증 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationError'
        '404':
          description: '* `IdentityVerificationNotFoundError`: 요청된 본인인증 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: identityVerification
      x-portone-title: 본인인증 단건 조회
      x-portone-description: 주어진 아이디에 대응되는 본인인증 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetIdentityVerificationError'
  /identity-verifications:
    get:
      summary: 본인인증 내역 다건 조회
      description: |-
        본인인증 내역 다건 조회

        주어진 조건에 맞는 본인인증 내역들을 페이지 기반으로 조회합니다.
      operationId: getIdentityVerifications
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationsBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetIdentityVerificationsBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 본인인증 내역 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationsResponse'
          x-portone-title: 성공 응답으로 조회된 본인인증 내역 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIdentityVerificationsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: identityVerification
      x-portone-title: 본인인증 내역 다건 조회
      x-portone-description: 주어진 조건에 맞는 본인인증 내역들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetIdentityVerificationsError'
  /kakaopay/payment/order:
    get:
      summary: 카카오페이 주문 조회 API
      description: |-
        카카오페이 주문 조회 API

        주어진 아이디에 대응되는 카카오페이 주문 건을 조회합니다.
        해당 API 사용이 필요한 경우 포트원 기술지원팀으로 문의 주시길 바랍니다.
      operationId: getKakaopayPaymentOrder
      parameters:
        - name: pgTxId
          in: query
          description: 카카오페이 주문 번호 (tid)
          required: true
          schema:
            type: string
          x-portone-title: 카카오페이 주문 번호 (tid)
        - name: channelKey
          in: query
          description: 채널 키
          required: true
          schema:
            type: string
          x-portone-title: 채널 키
      responses:
        '200':
          description: 성공 응답으로 카카오페이 주문 조회 응답 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKakaopayPaymentOrderResponse'
          x-portone-title: 성공 응답으로 카카오페이 주문 조회 응답 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKakaopayPaymentOrderError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKakaopayPaymentOrderError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: pgSpecific
      x-portone-title: 카카오페이 주문 조회 API
      x-portone-description: |-
        주어진 아이디에 대응되는 카카오페이 주문 건을 조회합니다.
        해당 API 사용이 필요한 경우 포트원 기술지원팀으로 문의 주시길 바랍니다.
      x-portone-error:
        $ref: '#/components/schemas/GetKakaopayPaymentOrderError'
  /login/api-secret:
    post:
      summary: API secret 를 사용한 토큰 발급
      description: |-
        API secret 를 사용한 토큰 발급

        API secret 를 통해 API 인증에 사용할 토큰을 가져옵니다.
      operationId: loginViaApiSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginViaApiSecretBody'
            example:
              apiSecret: your-api-secret
        required: true
      responses:
        '200':
          description: 성공 응답으로 토큰을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginViaApiSecretResponse'
              example:
                accessToken: new-access-token
                refreshToken: new-refresh-token
          x-portone-description: 성공 응답으로 토큰을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginViaApiSecretError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginViaApiSecretError'
      x-portone-category: auth
      x-portone-title: API secret 를 사용한 토큰 발급
      x-portone-description: API secret 를 통해 API 인증에 사용할 토큰을 가져옵니다.
      x-portone-error:
        $ref: '#/components/schemas/LoginViaApiSecretError'
  '/payment-schedules/{paymentScheduleId}':
    get:
      summary: 결제 예약 단건 조회
      description: |-
        결제 예약 단건 조회

        주어진 아이디에 대응되는 결제 예약 건을 조회합니다.
      operationId: getPaymentSchedule
      parameters:
        - name: paymentScheduleId
          in: path
          description: 조회할 결제 예약 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 조회할 결제 예약 건 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답으로 결제 예약 건 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedule'
          x-portone-title: 성공 응답으로 결제 예약 건 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentScheduleError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentScheduleError'
        '404':
          description: '* `PaymentScheduleNotFoundError`: 결제 예약건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentScheduleError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.paymentSchedule
      x-portone-title: 결제 예약 단건 조회
      x-portone-description: 주어진 아이디에 대응되는 결제 예약 건을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentScheduleError'
  /payment-schedules:
    get:
      summary: 결제 예약 다건 조회
      description: >-
        결제 예약 다건 조회


        주어진 조건에 맞는 결제 예약 건들을 조회합니다.

        `filter.from`, `filter.until` 파라미터의 기본값이 결제 시점 기준 지난 90일에 속하는 건을 조회하도록
        되어 있으니, 미래 예약 상태의 건을 조회하기 위해서는 해당 파라미터를 직접 설정해 주셔야 합니다.
      operationId: getPaymentSchedules
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentSchedulesBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentSchedulesBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 예약 결제 건 리스트가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentSchedulesResponse'
          x-portone-description: 성공 응답으로 조회된 예약 결제 건 리스트가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentSchedulesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentSchedulesError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentSchedulesError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.paymentSchedule
      x-portone-title: 결제 예약 다건 조회
      x-portone-description: >-
        주어진 조건에 맞는 결제 예약 건들을 조회합니다.

        `filter.from`, `filter.until` 파라미터의 기본값이 결제 시점 기준 지난 90일에 속하는 건을 조회하도록
        되어 있으니, 미래 예약 상태의 건을 조회하기 위해서는 해당 파라미터를 직접 설정해 주셔야 합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentSchedulesError'
    delete:
      summary: 결제 예약 취소
      description: >-
        결제 예약 취소


        결제 예약 건을 취소합니다.

        billingKey, scheduleIds 중 하나 이상은 필수로 입력합니다.

        billingKey 만 입력된 경우 -> 해당 빌링키로 예약된 모든 결제 예약 건들이 취소됩니다.

        scheduleIds 만 입력된 경우 -> 입력된 결제 예약 건 아이디에 해당하는 예약 건들이 취소됩니다.

        billingKey, scheduleIds 모두 입력된 경우 -> 입력된 결제 예약 건 아이디에 해당하는 예약 건들이 취소됩니다.
        단, 예약한 빌링키가 입력된 빌링키와 일치하지 않으면 실패합니다.

        위 정책에 따라 선택된 결제 예약 건들 중 하나라도 취소에 실패할 경우, 모든 취소 요청이 실패합니다.
      operationId: revokePaymentSchedules
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesBody'
          x-portone-query-or-body:
            enabled: true
            required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokePaymentSchedulesBody'
        required: false
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesError'
        '404':
          description: |-
            * `PaymentScheduleNotFoundError`: 결제 예약건이 존재하지 않는 경우
            * `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesError'
        '409':
          description: |-
            * `PaymentScheduleAlreadyProcessedError`: 결제 예약건이 이미 처리된 경우
            * `PaymentScheduleAlreadyRevokedError`: 결제 예약건이 이미 취소된 경우
            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokePaymentSchedulesError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.paymentSchedule
      x-portone-title: 결제 예약 취소
      x-portone-description: >-
        결제 예약 건을 취소합니다.

        billingKey, scheduleIds 중 하나 이상은 필수로 입력합니다.

        billingKey 만 입력된 경우 -> 해당 빌링키로 예약된 모든 결제 예약 건들이 취소됩니다.

        scheduleIds 만 입력된 경우 -> 입력된 결제 예약 건 아이디에 해당하는 예약 건들이 취소됩니다.

        billingKey, scheduleIds 모두 입력된 경우 -> 입력된 결제 예약 건 아이디에 해당하는 예약 건들이 취소됩니다.
        단, 예약한 빌링키가 입력된 빌링키와 일치하지 않으면 실패합니다.

        위 정책에 따라 선택된 결제 예약 건들 중 하나라도 취소에 실패할 경우, 모든 취소 요청이 실패합니다.
      x-portone-error:
        $ref: '#/components/schemas/RevokePaymentSchedulesError'
  /payments-by-cursor:
    get:
      summary: 결제 대용량 다건 조회(커서 기반)
      description: >-
        결제 대용량 다건 조회(커서 기반)


        기간 내 모든 결제 건을 커서 기반으로 조회합니다. 결제 건의 생성일시를 기준으로 주어진 기간 내 존재하는 모든 결제 건이
        조회됩니다.
      operationId: getAllPaymentsByCursor
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPaymentsByCursorBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllPaymentsByCursorBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 결제 건 리스트와 커서 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPaymentsByCursorResponse'
          x-portone-title: 성공 응답으로 조회된 결제 건 리스트와 커서 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPaymentsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPaymentsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllPaymentsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 대용량 다건 조회(커서 기반)
      x-portone-description: >-
        기간 내 모든 결제 건을 커서 기반으로 조회합니다. 결제 건의 생성일시를 기준으로 주어진 기간 내 존재하는 모든 결제 건이
        조회됩니다.
      x-portone-error:
        $ref: '#/components/schemas/GetAllPaymentsError'
      x-portone-unstable: true
  '/payments/{paymentId}/billing-key':
    post:
      summary: 빌링키 결제
      description: |-
        빌링키 결제

        빌링키로 결제를 진행합니다.
      operationId: payWithBillingKey
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingKeyPaymentInput'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyResponse'
          x-portone-title: 성공 응답
        '400':
          description: >-
            * `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `PromotionPayMethodDoesNotMatchError`: 결제수단이 프로모션에 지정된 것과 일치하지 않는
            경우

            * `DiscountAmountExceedsTotalAmountError`: 프로모션 할인 금액이 결제 시도 금액 이상인
            경우

            * `MaxTransactionCountReachedError`: 결제 혹은 본인인증 시도 횟수가 최대에 도달한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '404':
          description: |-
            * `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우
            * `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '409':
          description: >-
            * `AlreadyPaidError`: 결제가 이미 완료된 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을
            초과한 경우

            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayWithBillingKeyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 빌링키 결제
      x-portone-description: 빌링키로 결제를 진행합니다.
      x-portone-error:
        $ref: '#/components/schemas/PayWithBillingKeyError'
  '/payments/{paymentId}/cancel':
    post:
      summary: 결제 취소
      description: |-
        결제 취소

        결제 취소를 요청합니다.
      operationId: cancelPayment
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPaymentBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
          x-portone-title: 성공 응답
        '400':
          description: >-
            * `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `NegativePromotionAdjustedCancelAmountError`: 프로모션에 의해 조정된 취소 금액이
            음수인 경우

            * `PromotionDiscountRetainOptionShouldNotBeChangedError`: 프로모션 혜택 유지
            옵션을 이전 부분 취소와 다른 것으로 입력한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '409':
          description: >-
            * `PaymentNotPaidError`: 결제가 완료되지 않은 경우

            * `PaymentAlreadyCancelledError`: 결제가 이미 취소된 경우

            * `CancellableAmountConsistencyBrokenError`: 취소 가능 잔액 검증에 실패한 경우

            * `CancelAmountExceedsCancellableAmountError`: 결제 취소 금액이 취소 가능 금액을
            초과한 경우

            * `SumOfPartsExceedsCancelAmountError`: 면세 금액 등 하위 항목들의 합이 전체 취소 금액을
            초과한 경우

            * `CancelTaxFreeAmountExceedsCancellableTaxFreeAmountError`: 취소 면세
            금액이 취소 가능한 면세 금액을 초과한 경우

            * `CancelTaxAmountExceedsCancellableTaxAmountError`: 취소 과세 금액이 취소
            가능한 과세 금액을 초과한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 취소
      x-portone-description: 결제 취소를 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelPaymentError'
  '/payments/{paymentId}/cash-receipt/cancel':
    post:
      summary: 현금 영수증 취소
      description: |-
        현금 영수증 취소

        현금 영수증 취소를 요청합니다.
      operationId: cancelCashReceiptByPaymentId
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '404':
          description: |-
            * `CashReceiptNotIssuedError`: 현금영수증이 발급되지 않은 경우
            * `CashReceiptNotFoundError`: 현금영수증이 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCashReceiptError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 취소
      x-portone-description: 현금 영수증 취소를 요청합니다.
      x-portone-error:
        $ref: '#/components/schemas/CancelCashReceiptError'
  '/payments/{paymentId}/cash-receipt':
    get:
      summary: 현금 영수증 단건 조회
      description: |-
        현금 영수증 단건 조회

        주어진 결제 아이디에 대응되는 현금 영수증 내역을 조회합니다.
      operationId: getCashReceiptByPaymentId
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답으로 현금 영수증 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashReceipt'
          x-portone-description: 성공 응답으로 현금 영수증 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
        '404':
          description: '* `CashReceiptNotFoundError`: 현금영수증이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCashReceiptError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.cashReceipt
      x-portone-title: 현금 영수증 단건 조회
      x-portone-description: 주어진 결제 아이디에 대응되는 현금 영수증 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetCashReceiptError'
  '/payments/{paymentId}/escrow/complete':
    post:
      summary: 에스크로 구매 확정
      description: |-
        에스크로 구매 확정

        에스크로 결제를 구매 확정 처리합니다
      operationId: confirmEscrow
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmEscrowBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmEscrowError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 구매 확정
      x-portone-description: 에스크로 결제를 구매 확정 처리합니다
      x-portone-error:
        $ref: '#/components/schemas/ConfirmEscrowError'
  '/payments/{paymentId}/escrow/logistics':
    post:
      summary: 에스크로 배송 정보 등록
      description: |-
        에스크로 배송 정보 등록

        에스크로 배송 정보를 등록합니다.
      operationId: applyEscrowLogistics
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterEscrowLogisticsBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEscrowLogisticsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 배송 정보 등록
      x-portone-description: 에스크로 배송 정보를 등록합니다.
      x-portone-error:
        $ref: '#/components/schemas/ApplyEscrowLogisticsError'
    patch:
      summary: 에스크로 배송 정보 수정
      description: |-
        에스크로 배송 정보 수정

        에스크로 배송 정보를 수정합니다.
      operationId: modifyEscrowLogistics
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEscrowLogisticsBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyEscrowLogisticsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 에스크로 배송 정보 수정
      x-portone-description: 에스크로 배송 정보를 수정합니다.
      x-portone-error:
        $ref: '#/components/schemas/ModifyEscrowLogisticsError'
  '/payments/{paymentId}/instant':
    post:
      summary: 수기 결제
      description: |-
        수기 결제

        수기 결제를 진행합니다.
      operationId: payInstantly
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantPaymentInput'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyResponse'
          x-portone-title: 성공 응답
        '400':
          description: >-
            * `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `PromotionPayMethodDoesNotMatchError`: 결제수단이 프로모션에 지정된 것과 일치하지 않는
            경우

            * `DiscountAmountExceedsTotalAmountError`: 프로모션 할인 금액이 결제 시도 금액 이상인
            경우

            * `MaxTransactionCountReachedError`: 결제 혹은 본인인증 시도 횟수가 최대에 도달한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '404':
          description: '* `ChannelNotFoundError`: 요청된 채널이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '409':
          description: >-
            * `AlreadyPaidError`: 결제가 이미 완료된 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을
            초과한 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayInstantlyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 수기 결제
      x-portone-description: 수기 결제를 진행합니다.
      x-portone-error:
        $ref: '#/components/schemas/PayInstantlyError'
  '/payments/{paymentId}/pre-register':
    post:
      summary: 결제 정보 사전 등록
      description: |-
        결제 정보 사전 등록

        결제 정보를 사전 등록합니다.
      operationId: preRegisterPayment
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreRegisterPaymentBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
        '409':
          description: '* `AlreadyPaidError`: 결제가 이미 완료된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreRegisterPaymentError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 정보 사전 등록
      x-portone-description: 결제 정보를 사전 등록합니다.
      x-portone-error:
        $ref: '#/components/schemas/PreRegisterPaymentError'
  '/payments/{paymentId}/register-store-receipt':
    post:
      summary: 영수증 내 하위 상점 거래 등록
      description: |-
        영수증 내 하위 상점 거래 등록

        결제 내역 매출전표에 하위 상점의 거래를 등록합니다.
        지원되는 PG사:
        KG이니시스(이용 전 콘솔 -> 결제연동 탭에서 INIApi Key 등록 필요)
      operationId: registerStoreReceipt
      parameters:
        - name: paymentId
          in: path
          description: 등록할 하위 상점 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 등록할 하위 상점 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterStoreReceiptBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '409':
          description: '* `PaymentNotPaidError`: 결제가 완료되지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterStoreReceiptError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 영수증 내 하위 상점 거래 등록
      x-portone-description: |-
        결제 내역 매출전표에 하위 상점의 거래를 등록합니다.
        지원되는 PG사:
        KG이니시스(이용 전 콘솔 -> 결제연동 탭에서 INIApi Key 등록 필요)
      x-portone-error:
        $ref: '#/components/schemas/RegisterStoreReceiptError'
  '/payments/{paymentId}/resend-webhook':
    post:
      summary: 웹훅 재발송
      description: |-
        웹훅 재발송

        웹훅을 재발송합니다.
      operationId: resendWebhook
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendWebhookBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookResponse'
          x-portone-title: 성공 응답
        '400':
          description: >-
            * `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우

            * `MaxWebhookRetryCountReachedError`: 동일한 webhook id에 대한 수동 재시도 횟수가
            최대에 도달한 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
        '404':
          description: |-
            * `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우
            * `WebhookNotFoundError`: 웹훅 내역이 존재하지 않는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendWebhookError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 웹훅 재발송
      x-portone-description: 웹훅을 재발송합니다.
      x-portone-error:
        $ref: '#/components/schemas/ResendWebhookError'
  '/payments/{paymentId}/schedule':
    post:
      summary: 결제 예약
      description: |-
        결제 예약

        결제를 예약합니다.
      operationId: createPaymentSchedule
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentScheduleBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '404':
          description: '* `BillingKeyNotFoundError`: 빌링키가 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
        '409':
          description: >-
            * `AlreadyPaidOrWaitingError`: 결제가 이미 완료되었거나 대기중인 경우

            * `SumOfPartsExceedsTotalAmountError`: 면세 금액 등 하위 항목들의 합이 전체 결제 금액을
            초과한 경우

            * `BillingKeyAlreadyDeletedError`: 빌링키가 이미 삭제된 경우

            * `PaymentScheduleAlreadyExistsError`: 결제 예약건이 이미 존재하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentScheduleError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment.paymentSchedule
      x-portone-title: 결제 예약
      x-portone-description: 결제를 예약합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePaymentScheduleError'
  '/payments/{paymentId}/transactions':
    get:
      summary: 결제 시도 내역 조회
      description: |-
        결제 시도 내역 조회

        주어진 아이디에 대응되는 결제 건의 결제 시도 내역을 조회합니다.
      operationId: getPaymentTransactions
      parameters:
        - name: paymentId
          in: path
          description: 조회할 결제 아이디
          required: true
          schema:
            type: string
          x-portone-title: 조회할 결제 아이디
        - name: storeId
          in: query
          description: 상점 아이디
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
      responses:
        '200':
          description: 성공 응답으로 결제 시도 이력을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsResponse'
          x-portone-title: 성공 응답으로 결제 시도 이력을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentTransactionsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 시도 내역 조회
      x-portone-description: 주어진 아이디에 대응되는 결제 건의 결제 시도 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentTransactionsError'
      x-portone-unstable: true
  '/payments/{paymentId}/virtual-account/close':
    post:
      summary: 가상계좌 말소
      description: |-
        가상계좌 말소

        발급된 가상계좌를 말소합니다.
      operationId: closeVirtualAccount
      parameters:
        - name: paymentId
          in: path
          description: 결제 건 아이디
          required: true
          schema:
            type: string
          x-portone-title: 결제 건 아이디
        - name: storeId
          in: query
          description: |-
            상점 아이디

            접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
          x-portone-description: '접근 권한이 있는 상점 아이디만 입력 가능하며, 미입력시 토큰에 담긴 상점 아이디를 사용합니다.'
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '409':
          description: '* `PaymentNotWaitingForDepositError`: 결제 건이 입금 대기 상태가 아닌 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
        '502':
          description: '* `PgProviderError`: PG사에서 오류를 전달한 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseVirtualAccountError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 가상계좌 말소
      x-portone-description: 발급된 가상계좌를 말소합니다.
      x-portone-error:
        $ref: '#/components/schemas/CloseVirtualAccountError'
  '/payments/{paymentId}':
    get:
      summary: 결제 단건 조회
      description: |-
        결제 단건 조회

        주어진 아이디에 대응되는 결제 건을 조회합니다.
      operationId: getPayment
      parameters:
        - name: paymentId
          in: path
          description: 조회할 결제 아이디
          required: true
          schema:
            type: string
          x-portone-title: 조회할 결제 아이디
        - name: storeId
          in: query
          description: 상점 아이디
          required: false
          schema:
            type: string
          x-portone-title: 상점 아이디
      responses:
        '200':
          description: 성공 응답으로 결제 건 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
          x-portone-title: 성공 응답으로 결제 건 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
        '404':
          description: '* `PaymentNotFoundError`: 결제 건이 존재하지 않는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 단건 조회
      x-portone-description: 주어진 아이디에 대응되는 결제 건을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentError'
  /payments:
    get:
      summary: 결제 다건 조회(페이지 기반)
      description: |-
        결제 다건 조회(페이지 기반)

        주어진 조건에 맞는 결제 건들을 페이지 기반으로 조회합니다.
      operationId: getPayments
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentsBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 결제 건 리스트와 페이지 정보가 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsResponse'
          x-portone-title: 성공 응답으로 조회된 결제 건 리스트와 페이지 정보가 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
        '403':
          description: '* `ForbiddenError`: 요청이 거절된 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentsError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: payment
      x-portone-title: 결제 다건 조회(페이지 기반)
      x-portone-description: 주어진 조건에 맞는 결제 건들을 페이지 기반으로 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPaymentsError'
  /platform:
    get:
      description: |-
        고객사의 플랫폼 정보를 조회합니다.
        요청된 Authorization header 를 통해 자동으로 요청자의 고객사를 특정합니다.
      operationId: getPlatform
      responses:
        '200':
          description: 성공 응답으로 플랫폼 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform'
          x-portone-description: 성공 응답으로 플랫폼 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformError'
        '403':
          description: '* `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-description: |-
        고객사의 플랫폼 정보를 조회합니다.
        요청된 Authorization header 를 통해 자동으로 요청자의 고객사를 특정합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformError'
  /platform/account-transfers:
    get:
      summary: 이체 내역 다건 조회
      description: |-
        이체 내역 다건 조회

        여러 이체 내역을 조회합니다.
      operationId: getPlatformAccountTransfers
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountTransfersBody1'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountTransfersBody1'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 이체 내역과 페이지 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersResponse'
          x-portone-description: 성공 응답으로 조회된 이체 내역과 페이지 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAccountTransfersError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.accountTransfer
      x-portone-title: 이체 내역 다건 조회
      x-portone-description: 여러 이체 내역을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAccountTransfersError'
      x-portone-unstable: true
  /platform/additional-fee-policies:
    get:
      summary: 추가 수수료 정책 다건 조회
      description: |-
        추가 수수료 정책 다건 조회

        여러 추가 수수료 정책을 조회합니다.
      operationId: getPlatformAdditionalFeePolicies
      parameters:
        - name: requestBody
          in: query
          required: false
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesBody'
          x-portone-query-or-body:
            enabled: true
            required: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesBody'
        required: false
      responses:
        '200':
          description: 성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesResponse'
          x-portone-description: 성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 다건 조회
      x-portone-description: 여러 추가 수수료 정책을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePoliciesError'
    post:
      summary: 추가 수수료 정책 생성
      description: |-
        추가 수수료 정책 생성

        새로운 추가 수수료 정책을 생성합니다.
      operationId: createPlatformAdditionalFeePolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyResponse'
          x-portone-title: 성공 응답
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
        '409':
          description: '* `PlatformAdditionalFeePolicyAlreadyExistsError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 생성
      x-portone-description: 새로운 추가 수수료 정책을 생성합니다.
      x-portone-error:
        $ref: '#/components/schemas/CreatePlatformAdditionalFeePolicyError'
  '/platform/additional-fee-policies/{id}':
    get:
      summary: 추가 수수료 정책 조회
      description: |-
        추가 수수료 정책 조회

        주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.
      operationId: getPlatformAdditionalFeePolicy
      parameters:
        - name: id
          in: path
          description: 조회할 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 조회할 추가 수수료 정책 아이디
      responses:
        '200':
          description: 성공 응답으로 추가 수수료 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAdditionalFeePolicy'
          x-portone-description: 성공 응답으로 추가 수수료 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 조회
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyError'
    patch:
      summary: 추가 수수료 정책 수정
      description: |-
        추가 수수료 정책 수정

        주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.
      operationId: updatePlatformAdditionalFeePolicy
      parameters:
        - name: id
          in: path
          description: 업데이트할 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 업데이트할 추가 수수료 정책 아이디
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyBody'
        required: true
      responses:
        '200':
          description: 성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyResponse'
          x-portone-description: 성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
        '409':
          description: >-
            * `PlatformArchivedAdditionalFeePolicyError`: 보관된 추가 수수료 정책을 업데이트하려고
            하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 수정
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.
      x-portone-error:
        $ref: '#/components/schemas/UpdatePlatformAdditionalFeePolicyError'
  '/platform/additional-fee-policies/{id}/archive':
    post:
      summary: 추가 수수료 정책 보관
      description: |-
        추가 수수료 정책 보관

        주어진 아이디에 대응되는 추가 수수료 정책을 보관합니다.
      operationId: archivePlatformAdditionalFeePolicy
      parameters:
        - name: id
          in: path
          description: 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 추가 수수료 정책 아이디
      responses:
        '200':
          description: 성공 응답으로 보관된 추가 수수료 정책 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ArchivePlatformAdditionalFeePolicyResponse
          x-portone-description: 성공 응답으로 보관된 추가 수수료 정책 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
        '409':
          description: >-
            * `PlatformCannotArchiveScheduledAdditionalFeePolicyError`: 예약된
            업데이트가 있는 추가 수수료 정책을 보관하려고 하는 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 보관
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 보관합니다.
      x-portone-error:
        $ref: '#/components/schemas/ArchivePlatformAdditionalFeePolicyError'
  '/platform/additional-fee-policies/{id}/recover':
    post:
      summary: 추가 수수료 정책 복원
      description: |-
        추가 수수료 정책 복원

        주어진 아이디에 대응되는 추가 수수료 정책을 복원합니다.
      operationId: recoverPlatformAdditionalFeePolicy
      parameters:
        - name: id
          in: path
          description: 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 추가 수수료 정책 아이디
      responses:
        '200':
          description: 성공 응답으로 복원된 추가 수수료 정책 객체를 반환합니다.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RecoverPlatformAdditionalFeePolicyResponse
          x-portone-description: 성공 응답으로 복원된 추가 수수료 정책 객체를 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-category: platform.policy
      x-portone-title: 추가 수수료 정책 복원
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책을 복원합니다.
      x-portone-error:
        $ref: '#/components/schemas/RecoverPlatformAdditionalFeePolicyError'
  '/platform/additional-fee-policies/{id}/schedule':
    get:
      description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.
      operationId: getPlatformAdditionalFeePolicySchedule
      parameters:
        - name: id
          in: path
          description: 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 추가 수수료 정책 아이디
      responses:
        '200':
          description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAdditionalFeePolicy'
          x-portone-description: 성공 응답으로 예약된 추가 수수료 정책을 반환합니다.
        '400':
          description: '* `InvalidRequestError`: 요청된 입력 정보가 유효하지 않은 경우'
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPlatformAdditionalFeePolicyScheduleError
        '401':
          description: '* `UnauthorizedError`: 인증 정보가 올바르지 않은 경우'
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPlatformAdditionalFeePolicyScheduleError
        '403':
          description: |-
            * `PlatformNotEnabledError`: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우
            * `ForbiddenError`: 요청이 거절된 경우
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPlatformAdditionalFeePolicyScheduleError
        '404':
          description: '* `PlatformAdditionalFeePolicyNotFoundError`'
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/GetPlatformAdditionalFeePolicyScheduleError
      security:
        - bearerJwt: []
        - portOne: []
      x-portone-description: 주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.
      x-portone-error:
        $ref: '#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError'
      x-portone-unstable: true
    put:
      operationId: rescheduleAdditionalFeePolicy
      parameters:
        - name: id
          in: path
          description: 추가 수수료 정책 아이디
          required: true
          schema:
            type: string
          x-portone-title: 추가 수수료 정책 아이디
      requestBody:
        content:
          application/json:
            schema:
[...]
